.button {
    position: relative;
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    padding: 20px 30px 20px 70px;
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    border-radius: 0.5rem;
    background: linear-gradient(220deg, rgba(191, 95, 255, 1) 0%, rgba(255, 150, 80, 1) 100%);
    box-shadow: 0 5px 0 rgb(184, 57, 162);
    margin-left: 10px;

    &:hover {
        transform: translate(0, 3px);
        box-shadow: 0 2px 0 rgb(184, 57, 162);
    }
    
}

.btn_balloon {
    position: absolute;
    display: inline-block;
    bottom: 0.8em;
    left: -10px;
    width: 5em;
    height: 5em;
    font-family: "Noto Sans Japanese";
    line-height: 5em;
    text-align: center;
    color: #3616a8;
    font-size: 80%;
    font-weight: bold;
    background: #fff;
    border: 3px solid #50149e;
    border-radius: 50%;
    box-sizing: border-box;
    transform: rotate(-10deg);

    &::before {
        position: absolute;
        content: "";
        bottom: -5px;
        right: -10px;
        border: 9px solid transparent;
        border-left: 15px solid #fff;
        z-index: 0;
        transform: rotate(45deg);
    }
    
}

